body {
  background-image: url('https://wallpapersite.com/images/pages/pic_h/1028.jpg');
  color: midnightblue;
  font-family: 'Indie Flower', cursive;
  font-size: x-large;
}

.App {
  text-align: center;
}

.userinfo {
  text-align: left;
  /* border: 1px solid green; */
  max-width: max-content;
  background-color: rgba(248, 244, 244, 0.60);
}

th {
  width: 200px;
}

p {
  margin: 0px;
}

table {
  margin-bottom: 20px;
  
}

/* #root {
  
  padding-bottom: 200px;
  padding-top: 50px;
} */

.details {

position: fixed;
left: 70%;
top: 260px;
width: 200px;
background-color: rgba(248, 244, 244, 0.60);
}

h4, h6 {
  margin: 0px;
}